.main{
    border: 2px solid red;
    height: 1200px;
    width: 90vw;
    /* position: relative; */
}
.container{
    border: 2px solid green;
    height: 50%;
    width: 70%;
    margin: 30px;
    /* position: relative; */
}
.item{
    border: 2px solid orange;
    width: 100px;
    height: 100px;
    margin: 2px;
}
#item2{
    position: absolute;
    left: 200px;
    /* bottom: 10px; */
}
#item1{
    position: sticky;
    top: 60px;
    /* right: 50px; */
}
